<h1>Update Correspondence</h1>

<div class="row">
  <div class="col-md-4">
    <p> Suggestions for a good discussion </p>
      <ul>
        <li>Make your topic as specific as possible</li>
        <li>Keep the description short</li>
      </ul>
  </div>

  <div class="col-md-7">
    <%= form_for @discussion do |d| %>
      <div class="form-group">
        <%= d.label :title %>
        <%= d.text_field :title, class: 'form-control', placeholder: "Enter Discussion Title" %>
      </div>

      <div class="form-group">
        <%= d.label :description %>
        <%= d.text_area :description, rows: 3, class: 'form-control', placeholder: "Describe your discussion." %>
      </div>

      <div class="form-group">
        <%= d.label :public, class: 'checkbox' do %>
          <%= d.check_box :public %> Public Correspondence
        <% end %>
      </div>

      <div class="form-group">
        <%= d.submit "Save" %>
      </div>

    <% end %>

    <!-- Have to add policy -->
    <%= link_to "Delete Correspondence", @discussion, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?' } %>

  </div>

</div>
