<h2>New Correspondence<h2>

<div class="row">
  <div class="col-md-4">
    <p> Suggestions for a good discussion </p>
      <ul>
        <li>Make your topic as specific as possible</li>
        <li>Keep the description short</li>
      </ul>
    <p> Contribution Rules </p>
      <ul>
        <li>Words matter! You can only edit a contribution for 5 minutes after it is posted</li>
      </ul>
  </div>

  <div class="col-md-7">
    <%= form_for @discussion do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter Discussion Title" %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, rows: 3, class: 'form-control', placeholder: "Describe your discussion." %>
      </div>

      <div class="form-group">
        <p> Who are we corresponding with today?
          <%= text_field_tag :email, nil, label: :email, class: 'form-control', placeholder: 'email of participant' %>
        </p>
      </div>

      <div class="form-group">
        <%= f.label :private, class: 'checkbox' do %>
          <%= f.check_box :private %> Make this a Private correspondence?
        <% end %>
      </div>

      <div class="form-group">
        <%= f.submit "Save" %>
      </div>

    <% end %>
  </div>

</div>
