
<% if @user.in_discussion?(@discussion) %>
  <div class="discussion-area contributor">
<% else %>
  <div class="discussion-area">
<% end %>



  <div class="header">
    <h1><%= @discussion.title %></h1>

    <div class="lead">
      <p><%= @discussion.description %>
        <% if @discussion.updated_at == @discussion.created_at %>
          <small><i> Created on <%= @discussion.updated_at.strftime("%m/%d/%Y") %>. </i></small>
        <% else %>
          <small><i> Updated on <%= @discussion.updated_at.strftime("%m/%d/%Y") %>. </i></small>
        <% end %>
      </p>
      <i> Participants: <%= @discussion.creator.name %> and <%= @discussion.participant.name %> </i></br>
    </div>
  </div>

  <%= render partial: 'posts/post', collection: @posts %>

  <% if current_user.present? && !@user.in_discussion?(@discussion) %>
    <%= render partial: 'comments/form', locals: { discussion: @discussion, comment: @new_comment } %>
  <% end %>

  <%= render partial: 'comments/comment', collection: @comments %>

<!-- #collapsing button for adding a contribution when user or participant is present -->

  <% if @user.in_discussion?(@discussion) %>
    <div class="container-fluid contribution-container">
      <button class="btn btn-primary contribution-btn" type="button"
      data-toggle="collapse"
      data-target="#contributionCollapse"
      aria-expanded="false"
      aria-controls="contributionCollapse">
        Add Contribution
      </button>

      <div class="collapse" id="contributionCollapse">
        <div class="panel">
          <div class="panel-body">
            <%= render partial: 'posts/form', locals: { discussion: @discussion, post: @new_post } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
