<!-- <div class="col-md-12"> -->


<% if current_user == (@discussion.creator || @discussion.participant) %>
  <div class="discussion-area contributor">
<% else %>
  <div class="discussion-area">
<% end %>



  <div class="header">
    <h1><%= @discussion.title %></h1>

    <div class="lead">
      <p><%= @discussion.description %></p>
      <i> Participants: <%= @discussion.creator.name %> and <%= @discussion.participant.name %> </i>
    </div>
  </div>

  <%= render partial: 'posts/post', collection: @posts %>

  <% if current_user == (@discussion.creator || @discussion.participant) %>
    <%= render partial: 'posts/form', locals: { discussion: @discussion, post: @new_post } %>
  <% end %>
</div>
<!-- </div> -->
