<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %>
        <% if current_user == @user %>
          <%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-xs btn-primary' %>
        <% end %>

        </h2>
        <h4 class="media-heading">
          <%= pluralize(@user.created_correspondences.count + @user.participated_correspondences.count, 'correspondence') %>
        </h4>
        <i><small>corresponder since <%=@user.created_at.strftime("%m/%d/%Y") %></i></small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#correspondences" data-toggle="tab"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Correspondences</a></li>
        <li><a href="#following-corresponders" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Following</a></li>
        <li><a href="#favorite-correspondences" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favorites</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="correspondences">
          <div class="container">
            <%= render partial: 'correspondences/correspondence', collection: @correspondences %>
          </div>
        </div>
        <div class="tab-pane" id="following-corresponders">
          <div class="container">
            <%= render partial: 'users/user', collection: @followings %>
          </div>
        </div>
        <div class="tab-pane" id="favorite-correspondences">
          <div class="container">
            <%= render partial: 'correspondences/correspondence', collection: @favorite_correspondences %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
