
<!-- if current_user.present?  -->
  <div class="correspondence-area contributor">
<!-- else
  <div class="correspondence-area">
end -->



  <div class="header">
    <h1><%= @correspondence.title %>
      <div class="pull-right">
        <%= render partial: 'favorites/favorite', locals: { correspondence: @correspondence } %>
      </div>
    </h1>
    <div class="lead">
      <p><%= @correspondence.description %>
        <% if @correspondence.updated_at == @correspondence.created_at %>
          <small><i> Created on <%= @correspondence.updated_at.strftime("%m/%d/%Y") %>. </i></small>
        <% else %>
          <small><i> Updated on <%= @correspondence.updated_at.strftime("%m/%d/%Y") %>. </i></small>
        <% end %>
      </p>
      <i>
        Participants: <%= link_to @correspondence.creator.name, @correspondence.creator %>
        and <%= link_to @correspondence.participant.name, @correspondence.participant %>
      </i>
      </br>
      <% if @correspondence.private %>
        <i> A Private Correspondence </i>
      <% end %>
      </br>
    </div>
  </div>

  <%= render partial: 'posts/post', collection: @posts %>

  <%= render partial: 'comments/comment', collection: @comments %>

<!-- collapsable comment panel for signed-in non-participants -->
  <% if current_user.present? && !@user.in_correspondence?(@correspondence) %>
    <div class="container-fluid contribution-container">
      <button class="btn btn-info contribution-btn" type="button"
      data-toggle="collapse"
      data-target="#commentCollapse"
      aria-expanded="false"
      aria-controls="commentCollapse">
        Add Comment
      </button>

      <div class="collapse" id="commentCollapse">
        <div class="panel bottom-out">
          <div class="panel-body">
            <%= render partial: 'comments/form', locals: { correspondence: @correspondence, comment: @new_comment } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>


<!-- #collapsing button for adding a contribution when user or participant is present -->

  <% if @user.in_correspondence?(@correspondence) %>
    <div class="container-fluid contribution-container">
      <button class="btn btn-info contribution-btn" type="button"
      data-toggle="collapse"
      data-target="#contributionCollapse"
      aria-expanded="false"
      aria-controls="contributionCollapse">
        Add Contribution
      </button>

      <div class="collapse" id="contributionCollapse">
        <div class="panel bottom-out">
          <div class="panel-body">
            <%= render partial: 'posts/form', locals: { correspondence: @correspondence, post: @new_post } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
