<div class="container-fluid">
  <% if post.user == @discussion.participant %>
    <div class="posts participant_posts">
  <% else %>
    <div class="posts creator_posts">
  <% end %>

      <body><%= post.body %></body>

      </br>

      <small>
        <i>submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %></i>
        <% if policy(post).update? %>
          <%= link_to "Edit", edit_discussion_post_path(@discussion, post) %>
          available for <%= (5 - (Time.now - post.created_at)/60).to_i %> minutes.
        <% end %>
      </small>

    </div>
</div>
